<div class="row top-padding"></div>
<div class="row top-padding">
    <div class="col-sm-3">
        <select
            ng-model="landingPageCitySelected" 
            ng-options="option for option in landingPageCities.options"
            ng-click="pressedFunctionLandingPage(option)">
        </select> 
    </div>
    <div class="col-sm-9"></div>
</div>
<div class="row top-padding">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
        <div id="wordcloud" data-toggle="tooltip" title="{{tooltip}}"></div>
    </div>
</div>
<div ng-include="'partials/footer.html'"></div>